{% block Javascript %}
  <div class="modal fade" id="modalIMG" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Imagenes Cargadas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

def resultados(request):
    load_dotenv()
    key = os.getenv('KEY')
    endpoint = os.getenv('ENDPOINT')
    project_id = os.getenv('PROJECT_ID')
    published_name = os.getenv('PUBLISHED_ITERATION_NAME')
    credentials = ApiKeyCredentials(in_headers={'Prediction-key': key})
    client = CustomVisionPredictionClient(endpoint, credentials)

    # cliente de Azure Blob Storage
    blob_service_client = BlobServiceClient.from_connection_string(os.getenv('AZURE_STORAGE_CONNECTION_STRING'))
    container_client = blob_service_client.get_container_client(os.getenv('CONTAINER_NAME1'))

    # Obtener las últimas 2 imágenes del contenedor
    blobs_list = container_client.list_blobs()
    latest_blobs = sorted(blobs_list, key=lambda blob: blob.last_modified, reverse=True)[:2]

    container_client_analizadas = BlobServiceClient.from_connection_string(os.getenv('AZURE_STORAGE_CONNECTION_STRING')).get_container_client('imagenes-analizadas')
    # Obtener todas las imágenes que no han sido analizadas
    imagenes_sin_analizar = Imagenes.objects.filter(analizada=False)

    # Clasificar cada imagen, guardar los resultados y la imagen analizada
    results = []
    for i, imagen in enumerate(imagenes_sin_analizar):
        blob_client = blob_service_client.get_blob_client(os.getenv('CONTAINER_NAME1'), imagen.nombre_imagen)
        blob_data = blob_client.download_blob().readall()
        result = client.classify_image(project_id, published_name, blob_data)
        for prediction in result.predictions:
            results.append({
                'id': i + 1,
                'fecha': imagen.fecha,
                'tag_name': prediction.tag_name,
                'probability': prediction.probability
            })
            print(f'{prediction.tag_name}: {(prediction.probability):.2%}')

        # Marcar la imagen como analizada
        imagen.analizada = True
        imagen.save()

        # Guardar la imagen analizada en el contenedor 'imagenes-analizadas'
        container_client_analizadas.upload_blob(f'imagen_{result.id}.jpg', blob_data, overwrite=True)

    # Renderizar la plantilla con los resultados
    return render(request, 'resultados.html', {'results': results})
