{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <style>
    .loading {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      transition: 1s all;
      opacity: 0;
    }
    .loading.show {
      opacity: 1;
    }
    .loading .spin {
      border: 3px solid hsla(185, 100%, 62%, 0.2);
      border-top-color: #3cefff;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  </style>

  <h3>Formularios Para Registrar Vuelos y Para Subir Imagenes</h3>
  <hr class="my-4 bg-light" style="height: 3px;" />
  <div class="container-flex">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#flightModal">Registrar Vuelo</button>

    <!-- Modal de registro de vuelos -->
    <div class="modal fade" id="flightModal" tabindex="-1" aria-labelledby="flightModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flightModalLabel">Formulario De Registro de Vuelos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Aquí va el formulario de registro de vuelos -->
            <div class="col-md-12 col-lg-12 col-xl-12">
              <form method="post" id="flightForm" name="flightForm" class="row g-3" action="{% url 'cargar_imagen' %}">
                {% csrf_token %}
                <!-- Agrega aquí los campos necesarios para el vuelo -->
                <div class="container-flex">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-12">
                    <label for="sector_vuelo">Sector del Vuelo:</label>
                    <input type="text" name="sector_vuelo" placeholder="Ingresar El Sector Donde Piloto El Vuelo" id="sector_vuelo" class="form-control" required />
                  </div>
                  <hr class="my-4 bg-light" style="height: 3px;" />
                  <div class="col-12 col-sm-6 col-md-4 col-lg-12">
                    <label for="fecha_vuelo">Fecha de Vuelo:</label>
                    <input type="date" name="fecha_vuelo" placeholder="Ingresar La Fecha Que Se Realizó El Vuelo" id="fecha_vuelo" class="form-control" required />
                  </div>
                  <hr class="my-4 bg-light" style="height: 3px;" />
                  <div class="col-12 col-sm-6 col-md-4 col-lg-12">
                    <label for="latitud">Latitud</label>
                    <input type="text" class="form-control" placeholder="Ingresar La Latitud Registrada" id="latitud" name="latitud" />
                  </div>
                  <hr class="my-4 bg-light" style="height: 3px;" />
                  <div class="col-12 col-sm-6 col-md-4 col-lg-12">
                    <label for="longitud">Longitud</label>
                    <input type="text" class="form-control" placeholder="Ingresar La Longitud Registrada" id="longitud" name="longitud" />
                  </div>
                  <hr class="my-4 bg-light" style="height: 3px;" />
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Guardar Vuelo</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="alert" class="alert alert-success d-none" role="alert">Vuelo Registrado En El Mapa Ubicacion De Vuelos</div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageModal">Subir Imágenes</button>
    <!-- Modal de subida de imágenes -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Formulario de Subida de Imágenes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Aquí va el formulario de subida de imágenes -->
            <div class="col-md-12 col-lg-12 col-xl-12">
              <!-- Formulario para cargar imágenes asociadas a un vuelo -->
              <form method="post" class="row g-3" action="{% url 'cargar_imagen' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container-flex">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label for="vuelos" class="form-control">Seleccionar Vuelo: {{ formulario.vuelo }}</label>
                  </div>
                  <hr class="my-4 bg-light" style="height: 3px;" />
                  <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                      <label for="image" class="form-control-plaintext">Selec. Imágenes:</label>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-7">
                      <input type="file" class="form-control" id="image" name="image" multiple required />
                    </div>
                    <hr class="my-4 bg-light" style="height: 3px;" />
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary">Guardar Imágenes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4 bg-primary" style="height: 3px;" />
  <!-- Muestra la datatable con los datos almacenados -->
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table id="datatables" class="table">
        <!-- Encabezados de la tabla -->
        <thead>
          <tr>
            <th>N° del Vuelo</th>
            <th>Sector Vuelo</th>
            <th>Fecha Vuelo</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for informacion in informaciones %}
            <tr>
              <td>{{ informacion.id_vuelo }}</td>
              <td>{{ informacion.sector_vuelo }}</td>
              <td>{{ informacion.fecha_vuelo }}</td>
              <td>{{ informacion.latitud }}</td>
              <td>{{ informacion.longitud }}</td>
              <td>
                <button type="button" name="predecir" id="predecir" class="btn btn-success predecir" onclick="location.href='{% url 'resultados' %}'">Predecir</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    //======================================================================
    // LOADING
    //======================================================================
    var Loading = (loadingDelayHidden = 0) => {
      //-----------------------------------------------------
      // Variables
      //-----------------------------------------------------
      // HTML
      let loading = null
      // Retardo para borrar
      const myLoadingDelayHidden = loadingDelayHidden
    
      //-----------------------------------------------------
      // Funciones
      //-----------------------------------------------------
    
      /**
       * Mostrar HTML
       */
      function showLoading() {
        // Comprueba que exista el HTML
        if (loading !== null) {
          // Muestra el HTML de "cargando..." añadiendo la clase .show
          loading.classList.add('show')
        }
      }
    
      /**
       * Ocultar HTML
       */
      function hideLoading() {
        // Comprueba que exista el HTML
        if (loading !== null) {
          // Oculta el HTML de "cargando..." quitando la clase .show
          loading.classList.remove('show')
    
          // Borra el HTML
          setTimeout(function () {
            loading.remove()
          }, myLoadingDelayHidden)
        }
      }
    
      /**
       * Método que inicia la lógica
       */
      function init() {
        /* Comprobar que el HTML esté cargadas */
        $(document).ready(function () {
          let loading = $('.loading')
    
          /* Escuchar el evento click en todos los botones "predecir" */
          $('#datatables').on('click', '.predecir', function () {
            /* Muestra la pantalla de carga */
            loading.addClass('show')
    
            /* Realizar la predicción */
            let id_vuelo = $(this).closest('tr').children('td:first').text() // Obtiene el ID del vuelo desde la primera celda de la fila
            let url = '/predecir_imagenes/' + id_vuelo + '/' // Construye la URL para la predicción
            $.ajax({
              url: url, // Usa la URL construida
              method: 'GET', // Reemplaza esto con el método HTTP que tu vista requiere
              success: function (data) {
                console.log(data) // Imprime la respuesta en la consola
    
                /* Redirige a la página de resultados */
                window.location.href = '/resultados/' // Reemplaza esto con la URL de tu página de resultados
              },
              complete: function () {
                // Oculta la pantalla de carga cuando la solicitud AJAX está completa
                loading.removeClass('show')
              }
            })
          })
        })
      }
    
      return {
        init: init
      }
    }
    
    // Para usarlo se declara e inicia. El número es el tiempo transcurrido para borra el HTML una vez cargado todos los elementos, en este caso 1 segundo: 1000 milisegundos,
    Loading(1000).init()
  </script>
{% endblock %}
<script>
  $(document).ready(function () {
    // Verificar si la tabla existe
    if ($('#datatables').length) {
      // Destruir la tabla 'datatables' si ya existe una instancia de DataTables
      if ($.fn.DataTable.isDataTable('#datatables')) {
        $('#datatables').DataTable().destroy()
      }
    }
  
    // Inicializar la tabla 'datatables'
    $('#datatables').DataTable({
      retrieve: true,
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
      },
      search: {
        caseInsensitive: true,
        smart: false
      },
      columnDefs: {
        targets: [2],
        searchable: false,
        orderable: true
      }
    })
  })
</script>
