{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <h3>Detalle De Los Vuelos Registrados</h3>
  <hr class="my-4 bg-light" style="height: 3px;" />

    {% if results.error %}
    <p>Error: {{ results.error }}</p>
    {% else %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            {% if vuelos_info %}
            <div class="container">
                <div class="row">
                    <table id="vuelosTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Vuelo</th>
                                <th>Cantidad de Imágenes</th>
                                <th>Fecha</th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vuelo_info in vuelos_info %}
                                <tr>
                                <td>{{ vuelo_info.vuelo }}</td>
                                <td>{{ vuelo_info.cantidad_imagenes }}</td>
                                <td>{{ vuelo_info.fecha }}</td>
                                <td>
                                    <!-- Botón para abrir el modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ vuelo_info.vuelo }}">Ver detalles</button>
                                </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                                
                                {% for vuelo_info in vuelos_info %}
                                <div class="modal fade" id="myModal{{ vuelo_info.vuelo }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Detalles del Vuelo</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            {% for vuelo in vuelos_info %}
                                                <div class="modal-body">
                                                    <h2>Vuelo {{ vuelo.vuelo }}</h2>
                                                    <p>Cantidad de imágenes: {{ vuelo.cantidad_imagenes }}</p>
                                                    <p>Fecha: {{ vuelo.fecha }}</p>
                                                    <h3>Resultados de la predicción:</h3>
                                                    <ul>
                                                        {% for resultado in vuelo.resultados %}
                                                            <li>Nombre de la imagen: {{ resultado.0 }}</li>
                                                            <li>Nombre de la especie del árbol: {{ resultado.1 }}</li>
                                                            <li>Porcentaje de aceptación: {{ resultado.2 }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="validateButton">Validar</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <!-- Modal para mostrar los detalles del vuelo -->

    <script>
    $(document).ready(function () {
        // Destruir la tabla 'vuelosTable' si ya existe
        if ($.fn.DataTable.isDataTable('#vuelosTable')) {
            $('#vuelosTable').DataTable().destroy();
        }
    
        // Inicializar la tabla 'vuelosTable'
        $('#vuelosTable').DataTable({
            retrieve: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
            },
            search: {
                caseInsensitive: true,
                smart: false
            },
            columnDefs: {
                targets: [2],
                searchable: false,
                orderable: true
            }
        });
    
        // Inicializar la tabla 'validationResultsTable'
        $('#validationResultsTable').DataTable();
        });
    </script>

{% endblock %}
