{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}

<h1>Resultados de la predicción</h1>
    <p>Imagen: {{ results.blob_name }}</p>
    {% if results.error %}
        <p>Error: {{ results.error }}</p>
    {% else %}
        <p>Etiqueta con mayor confianza: {{ results.top_tag }}</p>
        <p>Confianza: {{ results.confidence }}%</p>
        <!-- Mostrar otros detalles de las predicciones si es necesario -->
        <ul>
            {% for prediction in results.all_predictions %}
                <li>{{ prediction.tag_name }}: {{ prediction.probability * 100 }}%</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
