{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <div class="container daily-sales col-md-12">
    <div class="row col-md-12">
      <p class="b-title">
        <h3>Ubicaciones</h3>
      </p>
      {% for vuelo in vuelos %}
        {{ vuelo.latitud }}, {{ vuelo.longitud }}
      {% endfor %}
    </div>
    <div class="row col-md-12">
      <div class="col-md-8">
        <div id="my_map" style="height: 200px;">
          {{ my_map|safe }}
          {% for vuelo in vuelos %}
            {{ vuelo.latitud }}, {{ vuelo.longitud }}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <h4>Mostrar popups</h4>
        <form id="popup-form">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="area-1" value="1" checked />
            <label class="form-check-label" for="area-1">Area de muestreo 1</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="area-2" value="2" checked />
            <label class="form-check-label" for="area-2">Area de muestreo 2</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="area-2" value="2" checked />
            <label class="form-check-label" for="area-2">Area de muestreo 3</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="area-2" value="2" checked />
            <label class="form-check-label" for="area-2">Area de muestreo 4</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="area-2" value="2" checked />
            <label class="form-check-label" for="area-2">Area de muestreo 5</label>
          </div>
          <!-- Repite los divs para más checkbox -->
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var vuelos = {{ vuelos|safe }};
    var areasMuestreo = {{ areasMuestreo|safe }};
    var map = L.map('my_map').setView([vuelos[0].latitud, vuelos[0].longitud], 13);
    var markers = {};

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    for (let area of areasMuestreo) {
        let lat = area.latitud;
        let lon = area.longitud;
        let marker = L.marker([lat, lon]).addTo(map);
        marker.bindPopup(area.direccion);
        markers[area.id] = marker;
    }

    $('#popup-form input[type=checkbox]').change(function() {
        var marker = markers[$(this).val()];
        if (this.checked) {
            marker.on('click', function() {
                this.openPopup();
            });
        } else {
            marker.off('click');
        }
    });
</script>
{% endblock %}
