{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
<div class="container daily-sales col-md-12">
    <div class="row col-md-12">
        <p class="b-title"><h3>Ubicaciones</h3></p>
        {% for vuelo in vuelos %}
            {{ vuelo.latitud }}, {{ vuelo.longitud }}
            
        {% endfor %}
    </div>
        <div class="row col-md-12">
            <div class="col-md-8">
                
                <div id="my_map" style="height: 180px;">
                    {{my_map|safe}}
                    {% for vuelo in vuelos %}
                        {{ vuelo.latitud }}, {{ vuelo.longitud }}
                    {% endfor %}
                </div>
            </div>
            

            <div class="row col-md-4">
                <div class="col-md-12">
                    <div class="card daily-sales">
                        <div class="card-block">
                        <h6 class="mb-4">Especies frutales encontradas</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                class="feather icon-activity text-c-green f-30 m-r-10"></i>
                                18</h3>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card daily-sales">
                        <div class="card-block">
                        <h6 class="mb-4">Ornamentales</h6>
                        <div class="row d-flex align-items-center">
                            <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                class="feather icon-flag text-c-green f-30 m-r-10"></i>
                                47</h3>
                            </div>
                        </div>
                        <div class="progress m-t-30" style="height: 7px;">
                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 100%;"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    var vuelos = JSON.parse('{{ vuelos|safe }}');
    var areasMuestreo = JSON.parse('{{ areasMuestreo|safe }}');  // Asegúrate de pasar las áreas de muestreo a tu plantilla
    var map = L.map('my_map').setView([vuelos[0].latitud, vuelos[0].longitud], 13);  // Inicializa el mapa centrado en el primer vuelo

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {  // Usa OpenStreetMap como capa base
        maxZoom: 19,
    }).addTo(map);

    for (let area of areasMuestreo) {
        let lat = area.latitud;
        let lon = area.longitud;
        let marker = L.marker([lat, lon]).addTo(map);  // Asegúrate de agregar el marcador al mapa correcto
        marker.bindPopup(area.direccion);
    }
</script>
{% endblock %}
